*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_custom{
    max-width: 1000px;
    margin: auto;
    font-size: .9375rem;
}

p{
    padding-top: .625rem;
    padding-bottom: .625rem;
}

h2,h1{
    font-size: 1.4375rem;
}

h5{
    font-size: 1rem;
}

header{
    padding-top: 20px;
    height: 100px;
}

#logo{
    height: 1.5625rem;
}


ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

hr{
    margin: 0;
}

footer{
    background-color: #F5F5F5;
}